
$default-main-color: rgb(88, 42, 114);
$default-accent-color: rgb(164,169,56);

$default-main-light-color: rgb(151,117,170);
$default-accent-light-color: rgb(250,253,169);

$default-main-medium-light-color: rgb(118,75,142);
$default-accent-medium-light-color: rgb(207,211,105);

$default-accent-medium-dark-color: rgb(123,127,21);
$default-main-medium-dark-color: rgb(61,18,85);

$default-accent-dark-color: rgb(81,84,0);
$default-main-dark-color: rgb(38,3,57);
